{% extends 'baseLogin.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="row col-12 justify-content-center aling-items-center h-100">
        <form method="post" class="col-4 p-2 m-2 p-4" style="background-color: #FFFFFF;">
        {% csrf_token %}
        <div class="row mx-auto">
            <div class="col-12">
                <img src="{% static 'img\nosotros2.png' %}" class="rounded mx-auto d-block" width="100" height="100">
            </div>
            <div class="row mx-auto align-items-end mt-2 mb-3">
                <img src="{% static 'img\Vegetarianos.png' %}" class="rounded mx-auto d-block" width="100" height="100">
                <h4 class="font-weight-bold" style="color: #249E16;">VID matchRecipes</h4>
            </div>
        </div>
            <div class="row mx-auto">
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control text-center" type="text" name="username" id="id_username" placeholder="Nombre de usuario">
                    </div>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control text-center" type="password" name="password" id="id_password" placeholder="Contraseña">
                    </div>
                </div>
            </div>
            <div class="col-6 mx-auto">
                <button type="submit" class="btn btn-lg text-white pl-5 pr-5" name="button" style="background-color: #249E16;">Entrar</button>
            </div>
            <div class="col-9 mx-auto mt-3">
                ¿No tienes cuenta? <a href="{% url 'newUser' %}">Crea una aquí</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
