<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> {% block title %} VID matchRecipes {% endblock %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}" >
    </head>

    <body>
        {% block navbar %}
        <nav class="navbar sticky-top navbar-light" style="background-color: #249E16;">
            <div class="d-flex justify-content-start">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img\vegetarianosN.jpg' %}" class="d-inline-block align-top" width="30" height="30">
                    VID matchRecipes
                </a>
            </div>
            <div class="d-flex justify-content-end">
                {% if not user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'login' %}">
                        Iniciar sesión
                        <img src="/static/img/crear.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                {% else %}
                    <div class="dropdown open navbar-brand">
                        <button class="btn dropdown-toggle text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a>
                            <a class="dropdown-item" href="#!">Mis recetas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>
                    </div>
                {% endif %}
                <a class="navbar-brand" href="#">
                    Explorar
                    <img src="{% static 'img\explorar.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>
                <a class="navbar-brand" href="nosotros/">
                    Nosotros
                    <img src="/static/img/nosotros.png" width="35" height="35" class="d-inline-block align-top" alt="">
                </a>
            </div>
        </nav>
        {% endblock %}


        {% block content %}
        {% endblock %}

        <!-- JS, Popper.js, and jQuery -->
        <script src="{% static 'js\jquery-3.4.1.slim.min.js' %}" ></script>
        <script src="{% static 'js\popper.min.js' %}" ></script>
        <script src="{% static 'js\bootstrap.min.js' %}" ></script>

        {% block js %}
        {% endblock %}

    </body>
     {% block pie %}
    <footer class="fixed-bottom">
        <nav class="navbar sticky-top navbar-light justify-content-center" style="background-color: #249E16;">
            <p class="text-center">
                &#169; 2020 Derechos de autor
            </p>
        </nav>
    </footer>
    {% endblock %}
</html>
