{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center aling-items-center">
        <form class="form col-10" action="{% url 'resBusqueda' %}" method="post">
            {% csrf_token %}

            <div class="mx-auto m-5">
                <img src="{% static 'img\vegetarianos.png' %}" class="rounded mx-auto d-block" width="150" height="150">
            </div>

            <div class="row mt-5 col-12">
                <div class="col-3">

                </div>
                <div class="col-5 aling-items-center">
                    <input class="form-control text-monospace" name="buscar" id="id_buscar" type="text" placeholder="¿Qué preparas hoy?">
                </div>
                <div class="col-1">
                    <button class="btn btn-outline-light" type="submit" name="btnBuscar" id="id_btnBuscar" name="button">
                        <img src="{% static 'img/buscar.png' %}" class="rounded mx-auto d-block" width="30" height="30">
                    </button>
                </div>
                <div class="col-1">
                    <a href="{% url 'crearReceta' %}" class="btn btn-lg text-white" style="background-color: #249E16;">
                        <img src="{% static 'img/crear.png' %}" class="rounded mx-auto d-block" width="30" height="30" alt="Crear">
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
