{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <h4 class="m-3">Recetas de {{ request.user.first_name }} {{ request.user.last_name }}</h4>
    <div class="row justify-content-center">
        <table class="table col-9">
            <thead class="bg-success text-white">
                <tr>
                    <th class="text-center">Nombre receta</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for element in recetas %}
                <tr>
                    <td>
                        <img class="mr-2" src="{{ MEDIA_URL }}{{ element.imagenMuestra }}" height="100px" width="100px">
                        {{element.nombre}}
                    </td>
                    <td>{{element.descripcion}}</td>
                    <td><a class="btn btn-info" href="#">Modificar</a> <a class="btn btn-danger" href="{% url 'eliminarReceta' element.id %}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}