{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card w-25 m-5">
            <img class="card-img-top" src="{{MEDIA_URL}}{{receta.imagenMuestra}}" alt="Imagen de muestra de {{receta.nombre}}">
            <div class="card-body">
                <h4 class="card-title">{{receta.nombre}}</h4>
                <p class="card-text">{{receta.descripcion}}</p>
                <p class="card-text"><a class="font-weight-bold">Autor:</a> {{receta.propietario.username}}</p>
            </div>
        </div>

        <div class="card w-50 m-3" name="divPasos">
            <div class="card-body">
                <h5 class="card-title">Ingredientes:</h5>
                <ul class="list-group">
                    {% for element in ingredientes %}
                    <li class="list-group-item w-50">{{element.ingredientes}}</li>
                    {% endfor %}
                </ul>

                <h5 class="card-title mt-5">Pasos:</h5>
                <ol class="list-group">
                    {% for element in pasos %}
                    <li class="list-group-item">{{element.paso}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
