{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid row justify-content-around mb-5">
    <div class="card m-3 col-5">
        <form class="card-body justify-content-center row" method="post">
            {% csrf_token %}
            <div class="col-10">
                <div class="row justify-content-center">
                    <img src="{% static 'img/nosotros.png' %}" width="130px" height="130px">
                </div>
                <div class="form-group mb-2">
                    <label class="mr-2">Nombre de usuario:</label>
                    <input type="text" class="form-control" value="{{ user.username }}" name="username" id="id_username" placeholder="Nombre de usuario" readonly>
                    <p class="small text-black-50">Así es como te verá el resto de usuarios</p>
                </div>

                <div class="form-group mb-2">
                    <label class="mr-2">Nombre(s):</label>
                    <input type="text" class="form-control" value="{{ user.first_name }}" name="first_name" id="id_first_name" placeholder="Nombres" onKeyUp="validar();">
                </div>

                <div class="form-group mb-2">
                    <label class="mr-2">Apellidos:</label>
                    <input type="text" class="form-control" value="{{ user.last_name }}" name="last_name" id="id_last_name" placeholder="Apellidos" onKeyUp="validar();">
                </div>

                <div class="form-group mb-2">
                    <label class="mr-2">Correo:</label>
                    <input type="email" class="form-control" value="{{ user.email }}" name="email" id="id_email" placeholder="Correo" onKeyUp="validar();">
                </div>

                <div class="row justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary" id="btn_actualizar">Actualizar perfil</button>
                </div>

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    <strong>Hubo algún error en tu actualización</strong>
                    <ul>
                        {% for element in error %}
                        <li>{{element}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </form>
    </div>


    <div class="col-5">
        <input type="text" id="member" name="member" value="">Number of members: (max. 10)<br />
        <a href="#" id="filldetails" onclick="addFields()">Fill Details</a>
        <button onclick="add()">Agregar</button>
        <button onclick="rem()">Remover</button>
        <div id="container"/>
    </div>

</div>
{% endblock %}

{% block js %}
<script type='text/javascript'>
    var num = 0;

    function add(){ num++; addFields(); }
    function rem(){ num--; addFields(); }

    function addFields(){
        // Number of inputs to create
        var number = document.getElementById("member").value;
        // Container <div> where dynamic content will be placed
        var container = document.getElementById("container");
        // Clear previous contents of the container
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for (i=0;i<num;i++){
            // Append a node with a random text
            container.appendChild(document.createTextNode("Imagen " + (i+1)));
            // Create an <input> element, set its type and name attributes
            var input = document.createElement("input");
            input.type = "file";
            input.name = "image" + i;
            container.appendChild(input);
            // Append a line break
            container.appendChild(document.createElement("br"));
        }
    }
</script>
<script type="text/javascript">

    //Inicializar variables
    var username = "{{user.username}}";
    var first_name = "{{user.first_name}}";
    var last_name = "{{user.last_name}}";
    var email = "{{user.email}}";

    //Si alguno de los valores cambia te permite actualizar el perfil
    function validar(){
        if(document.getElementById("id_username").value != username){
            document.getElementById('btn_actualizar').style.display='inline';
            return;
        }
        if(document.getElementById("id_first_name").value != first_name){
            document.getElementById('btn_actualizar').style.display='inline';
            return;
        }
        if(document.getElementById("id_last_name").value != last_name){
            document.getElementById('btn_actualizar').style.display='inline';
            return;
        }
        if(document.getElementById("id_email").value != email){
            document.getElementById('btn_actualizar').style.display='inline';
            return;
        }
        document.getElementById('btn_actualizar').style.display='none';
    }

    validar();

</script>
{% endblock %}